<style>
    .datatable-container {
        max-height: 400px;
        overflow-y: hidden;
    }

    #datatable {
        width: 100%;
        border-collapse: collapse;
    }

    #datatable th,
    #datatable td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    #datatable th {
        background-color: #f2f2f2;
    }
</style>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Feedback Management</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active">Feedback Management</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        {{!-- <a href="/admin/remove-all-users"
                            onclick="return confirm('Are You Sure to Remove All Users ?')"
                            class="btn btn-danger mb-1 mt-3">Remove All Requests</a> --}}
                        <!-- Table with stripped rows -->
                        <table class="table datatable table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Date</th>
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>District</th>
                                    <th>Zone</th>
                                    <th>Type</th>
                                    <th>Feedback</th>
                                    <th>Manage</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each feedbacks}}
                                <tr>
                                    <td>#0{{incremented @index}}</td>
                                    <td>{{this.date}}</td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.phone}}</td>
                                    <td>{{this.district}}</td>
                                    <td>{{this.zone}}</td>
                                    <td>{{this.type}}</td>
                                    <td>
                                        <div class="card p-2 shadow " style="width: 150px;">{{this.feedback}}</div>
                                    </td>
                                    {{!-- <td>{{this.Password}}</td> --}}
                                    <td><a href="/admin/delete-feedback/{{this._id}}" class="btn btn-danger"
                                            onclick="return confirm('Please Confirm The User {{this.Fname}} ?')"><i
                                                class="bi bi-trash"></i></a>
                                        {{!-- <a href="https://wa.me/`{{this.Password}}`?text=Assalamu Alikkum<br>">Send
                                            Message on
                                            WhatsApp</a> --}}


                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->