<style>
    .datatable-container {
        max-height: 400px;
        overflow-y: hidden;
    }

    #datatable {
        width: 100%;
        border-collapse: collapse;
    }

    #datatable th,
    #datatable td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    #datatable th {
        background-color: #f2f2f2;
    }
</style>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Forgot Password Management</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active">Forgot Password Management</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        {{!-- <a href="/admin/remove-all-users"
                            onclick="return confirm('Are You Sure to Remove All Users ?')"
                            class="btn btn-danger mb-1 mt-3">Remove All Requests</a> --}}
                        <!-- Table with stripped rows -->
                        <table class="table datatable table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Date</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone Number</th>
                                    {{!-- <th>Password</th> --}}
                                    <th>Manage</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each forgots}}
                                <tr>
                                    <td>#0{{incremented @index}}</td>
                                    <td>{{this.date}}</td>
                                    <td>{{this.Fname}}</td>
                                    <td>{{this.Lname}}</td>
                                    <td>{{this.Password}}</td>
                                    {{!-- <td>{{this.Password}}</td> --}}
                                    <td><a href="/admin/delete-forgot/{{this._id}}" class="btn btn-success"
                                            onclick="return confirm('Please Confirm The User {{this.Fname}} ?')"><i
                                                class="bi bi-check-lg"></i></a>
                                        {{!-- <a href="https://wa.me/`{{this.Password}}`?text=Assalamu Alikkum<br>">Send
                                            Message on
                                            WhatsApp</a> --}}


                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->