<style>

</style>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Manage Answer Keys</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active">Answer Key Management</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        {{!-- <a href="/admin/add-key" class="btn btn-dark mb-4 ">+ Add Day</a> --}}
        <div class="row">
            <div class="col-lg-6">
                <div class="card p-3">
                    <div class="card-body">
                        <h5>Junior Answer Keys</h5>
                        <br>
                        <table class="table      table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Status</th>
                                    <th>Manage</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each juniorkeys}}
                                <tr>
                                    <td>{{this.day}}</td>
                                    <td style="color: {{#if (eq2 this.key 'enable')}}green{{else}}red{{/if}};">
                                        {{this.key}}
                                    </td>

                                    <td>

                                        <a href="/admin/edit-junior-key/{{this._id}}" class="btn btn-primary"><i
                                                class="bi bi-pen"></i></a>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>


            <div class="col-lg-6">
                <div class="card p-3">

                    <div class="card-body">
                        <h5>Senior Answer Keys</h5>
                        <br>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Status</th>
                                    <th>Manage</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each seniorkeys}}
                                <tr>
                                    <td>{{this.day}}</td>
                                    <td style="color: {{#if (eq2 this.key 'enable')}}green{{else}}red{{/if}};">
                                        {{this.key}}
                                    </td>

                                    <td>

                                        <a href="/admin/edit-senior-key/{{this._id}}" class="btn btn-primary"><i
                                                class="bi bi-pen"></i></a>
                                    </td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->