<main id="main" class="main">
    <style>
        .accordion-body {
            background-color: #fff5e8;
        }

        .accordion-item.disabled {
            opacity: 0.5;
            /* Adjust the opacity to your preference */
            pointer-events: none;
        }
    </style>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <a href="/admin/add-junior" class="btn btn-primary mb-3">+ Add Question For Juniors</a>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Question for Juniors</h5>

                        <!-- Default Accordion -->
                        <div class="accordion" id="accordionExample">

                            {{#each juniors}}
                            <div class="accordion-item {{this.status}}">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#{{this.hello}}" aria-expanded="false"
                                        aria-controls="{{this.hello}}">
                                        {{this.day}} | {{this.status}}
                                    </button>
                                </h2>
                                <div id="{{this.hello}}" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                                    <div class="accordion-body">
                                        <h6>Created Date : <b>{{this.date}}</b></h6>
                                        <h6>Status : <b>{{this.status}}</b></h6>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="card p-3 mb-2">
                                                    <strong>Question 1: </strong> {{this.questions.[0].question}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="card p-3 mb-3">
                                                    <strong>Corect Answer : </strong>{{this.questions.[0].canswer}}
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="card p-3 mb-2">
                                                    <strong>Question 2: </strong> {{this.questions.[1].question}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="card p-3 mb-3">
                                                    <strong>Corect Answer : </strong>{{this.questions.[1].canswer}}
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="card p-3 mb-2">
                                                    <strong>Question 3: </strong> {{this.questions.[2].question}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="card p-3 mb-3">
                                                    <strong>Corect Answer : </strong>{{this.questions.[2].canswer}}
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="card p-3 mb-2">
                                                    <strong>Question 4: </strong> {{this.questions.[3].question}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="card p-3 mb-3">
                                                    <strong>Corect Answer : </strong>{{this.questions.[3].canswer}}
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="card p-3 mb-2">
                                                    <strong>Question 5: </strong> {{this.questions.[4].question}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="card p-3 mb-3">
                                                    <strong>Corect Answer : </strong>{{this.questions.[4].canswer}}
                                                </div>
                                            </div>
                                        </div>


                                        <a href="/admin/edit-junior/{{this._id}}" class="btn btn-dark">Edit
                                            Questions</a>
                                        <a href="/admin/delete-junior/{{this._id}}" class="btn btn-danger"
                                            onclick="return confirm('Are You Sure to Delete {{this.day}} ?')">Delete
                                            this</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}




                        </div><!-- End Default Accordion Example -->

                    </div>
                </div>

            </div>


        </div>
    </section>

</main>


<script>
    // Assuming you have jQuery included

    $(document).ready(function () {
        // Disable the accordion item by preventing button clicks
        $('.accordion-item.disabled button').prop('disabled', true);
    });
</script>