<style>
    .ul2 {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 220px);
        justify-content: center;
    }

    @media only screen and (max-width: 600px) {
        .ul2 {
            list-style: none;
            padding-left: -164px;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 119px);
            justify-content: center;
        }
    }

    .li3 {
        grid-column: span 2;
        text-align: center;
        border-radius: 65px;
        color: #fff;
        font-weight: bold;
        font-size: 25px;
        line-height: 1.5em;
        font-family: sans-serif;
        position: relative;
        padding: 20px;
        border: 20px solid #00000000;
        background: linear-gradient(#c90808 0 0) content-box,
            linear-gradient(var(--c, #fcd000) 0 0) padding-box,
            linear-gradient(var(--d, 90deg), #0000 75%, #dc3545 0) border-box;
    }

    .li1 {
        grid-column: span 2;
        text-align: center;
        border-radius: 65px;
        color: #fff;
        font-weight: bold;
        font-size: 25px;
        line-height: 1.5em;
        font-family: sans-serif;
        position: relative;
        padding: 20px;
        border: 20px solid #0000;
        background: linear-gradient(#061238 0 0) content-box,
            linear-gradient(var(--c, #fcd000) 0 0) padding-box,
            linear-gradient(var(--d, 90deg), #0000 75%, #dc3545 0) border-box;
    }


    .li2 {
        grid-column: span 2;
        text-align: center;
        border-radius: 65px;
        color: #fff;
        font-weight: bold;
        font-size: 25px;
        line-height: 1.5em;
        font-family: sans-serif;
        position: relative;
        padding: 20px;
        border: 20px solid #0000;
        background: linear-gradient(#7a4f4a63 0 0) content-box, linear-gradient(var(--c, #fcd000) 0 0) padding-box, linear-gradient(var(--d, 90deg), #0000 75%, #dc3545 0) border-box;
    }

    li:nth-child(even) {
        grid-column-end: -1;
        --d: -90deg;
        --c: #009cda;
    }

    li:not(:last-child) {
        margin-bottom: -20px;
    }

    li:before,
    li:after {
        content: "";
        display: block;
        height: 0.6em;
    }

    time {
        position: absolute;
        font-size: 0.65em;
        left: calc(100% + 50px);
        top: 50%;
        transform: translateY(-50%);
        white-space: nowrap;
    }

    li:nth-child(even) time {
        left: auto;
        color: #000;
        right: calc(100% + 50px);
    }

    time:before {
        content: "";
        position: absolute;
        height: 10px;
        top: calc(50% - 5px);
        right: calc(100% + 5px);
        width: 65px;
        background: repeating-linear-gradient(-90deg, #fcd000 0 5px, #0000 0 10px) 50%/100% 2px no-repeat;
    }

    li:nth-child(even) time:before {
        right: auto;
        left: calc(100% + 5px);
        background: repeating-linear-gradient(90deg, #009cda 0 5px, #0000 0 10px) 50%/100% 2px no-repeat;
    }

    h1,
    p {
        display: none;
    }


    html {
        background:
            radial-gradient(farthest-side at top right, #42b132 98%, #0000) calc(50% - 10px) 0/20px 20px no-repeat,
            radial-gradient(farthest-side at bottom right, #42b132 98%, #0000) calc(50% - 10px) 100%/20px 20px no-repeat,
            linear-gradient(90deg, #fcd000 50%, #009cda 0);
    }

    body {
        background:
            radial-gradient(farthest-side at top right, #42b132 98%, #0000) calc(50% - 10px) 0/20px 20px no-repeat,
            radial-gradient(farthest-side at bottom right, #42b132 98%, #0000) calc(50% - 10px) 100%/20px 20px no-repeat,
            linear-gradient(90deg, #fcd000 50%, #009cda 0);

        margin: 0;
    }

    .header-area {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        background-color: #dc3545;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        border-bottom: 0px solid;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #ffffff;
    }

    .a1 {
        color: white;
    }

    .a2 {
        color: #ffffff52;
    }

    a:hover {
        color: rgb(3, 58, 70);
    }

    .header-content .navbar--toggler span {
        width: 23px;
        height: 2px;
        background-color: #ffffff;
        margin-bottom: 5px px;
    }

    .disabled-button {
        cursor: not-allowed;
        /* Change cursor to indicate not clickable */
        opacity: 0.5;
        /* Change opacity to visually indicate a disabled state */
        /* You can add other styles to make it visually appear as disabled */
    }

    /* Existing styles remain unchanged */

    .header-area2 {
        background-color: #dc3545;
        width: 100%;
        height: 50px;
        margin-top: 50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .coin-container {
        display: flex;
        align-items: center;
        margin-right: 20px;
        /* Adjust the margin as needed */
    }

    .coin-img {
        width: 20px;
        /* Adjust the width of the coin image */
        margin-right: 5px;
        /* Adjust the margin between the coin and the number */
    }

    .coin-number {
        color: #fff;
        font-size: 18px;
        /* Adjust the font size of the coin number */
        font-weight: bold;
    }
</style>
<div class="header-area2">
    <!-- Add your coin and number here -->
    <div class="coin-container">
        <img src="/images/coin.png" class="coin-img">
        <span class="coin-number">{{#if user}} {{user.totalScore}} {{/if}}</span>

    </div>

</div>

<br>
<br><br><br>
<ul class="timeline ul2">
    {{#each days}}
    {{#eq this.status "display"}}
    <li class="li1"> <a class="a1" href="/qd-view/{{this.hello}}">
            <time datetime="1985-09">Ramadan <br>{{this.day}}</time>Session {{incremented @index}}</a></li>
    {{/eq}}
    {{#eq this.status "disabled"}}
    <li class="li2">
        <a class="a2 disabled-button" href="#!" disabled>
            <time datetime="1985-09">{{this.day}}</time>Session {{incremented @index}}</a>
    </li>
    </a>
    </li>
    {{/eq}}
    {{/each}}
    <li class="li3"> <a class="a1" href="/feedback">
            <time datetime="1985-09"></time>Your Feedbacks</a></li>
</ul>