<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">

                    {{!-- <a href="/admin/remove-all-users"
                        onclick="return confirm('Are You Sure to Remove All Users ?')"
                        class="btn btn-danger mb-1 mt-3">Remove All Users</a> --}}
                    <!-- Table with stripped rows -->
                    <table class="table datatable table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>SELECT A DAY</th>

                            </tr>
                        </thead>
                        <tbody>
                            <h1>Ongoing Quiz </h1>
                            {{#each days}}
                            {{#eq this.status "display"}}
                            <tr>
                                <td><a href="/prd-view/{{this.hello}}" class="btn btn-success"> {{this.day}}</a></td>

                            </tr>
                            {{/eq}}
                            {{/each}}


                        </tbody>
                    </table>
                    <h1>Completed Quiz </h1>
                           
                            {{#loopUntilStatus days "display"}}
                                <DIV><a href="/prd-view/{{this.hello}}" class="disabled "> {{this.day}}</a></DIV>
                               
                            {{/loopUntilStatus}}
                            
                     <h1>upcomming</h1>
                          {{#loopFromIndex days (getIndexForDisplay days)}}
                            <div><a href="/prd-view/{{this.hello}}" class="disabled">{{this.day}}</a></div>
                        {{/loopFromIndex}}   
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>