{{!-- <div class="container">
    <br><br><br>
    <center>Welcome <strong>{{user.Username}} ({{user.type}}) </strong><br>

        {{#eq user.type "senior"}}
        <a href="/homme" class="btn btn-dark">Enter to Quiz route</a>
        {{/eq}}
        {{#eq user.type "junior"}}
        <a href="/home" class="btn btn-dark">Enter to Quiz route</a>
        {{/eq}}
    </center>
</div> --}}

<style>
    .bg-overlay::after {
        position: absolute;
        content: "";
        background-color: #000000ab;
        opacity: 0.75;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
</style>
<style>
    .donation-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99999;
    }

    .button1 {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        animation: glow 2s infinite;
        /* Apply the glow animation */
    }

    @keyframes glow {
        0% {
            box-shadow: 0 0 10px #4CAF50;
            /* Initial glow effect */
        }

        50% {
            box-shadow: 0 0 20px #4CAF50, 0 0 30px #4CAF50;
            /* Intermediate glow effect */
        }

        100% {
            box-shadow: 0 0 10px #4CAF50;
            /* Return to the initial glow effect */
        }
    }


    .button1:hover {
        background-color: #45a049;
    }
</style>

<div class="toast  custom-toast-1 toast-success home-page-toast" role="alert" aria-live="assertive" aria-atomic="true"
    data-bs-delay="7000" data-bs-autohide="true">
    <div class="toast-body">
        <svg class="bi bi-bookmark-check text-white" width="30" height="30" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z">
            </path>
            <path fill-rule="evenodd"
                d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z">
            </path>
        </svg>
        <div class="toast-text ms-3 me-2">
            <p class="mb-1 text-white">Welcome to Msm Ramadan Quiz 2024!</p><small class="d-block text-dark">Please save
                your
                login details :
                {{#if user}}
                Username : <b>{{user.Fname}}{{user.Lname}}</b><br>
                Phone Number : <b>{{user.Mobile}}</b>
                </ul>

            </small>

            <a class="btn btn-danger mt-2" target="_blank"
                href="https://wa.me/{{user.Mobile}}?text=Hi {{user.Fname}}...%0AAssalamu%20Alikkum%0A%0AYour%20Username%3A%20{{user.Fname}}{{user.Lname}}%0AYour%20Phone%3A%20{{user.Mobile}}">Save
                to Whatsapp</a>
            {{/if}}

        </div>
    </div>
    <button class="btn btn-close btn-close-white position-absolute p-1" type="button" data-bs-dismiss="toast"
        aria-label="Close"></button>
</div>

<div class="donation-button">
    <a href="/donation" class="button1">Donate To MSM</a>
</div>


<div class="tiny-slider-one-wrapper">
    <div class="tiny-slider-one">
        <!-- Single Hero Slide -->
        <div class="mt-4">
            <br>

            <div class="single-hero-slide bg-overlay" style="background-image: url('/images/b1.jpg')">
                <div class="h-100 d-flex align-items-center text-center">
                    <div class="container">
                        <h3 class="text-white mb-1">Welcome To Msm Kozhikode North<br> Ramadan Quiz 2024</h3>
                        <p class="text-white mb-4">Ramadan Quiz Compititon March 2024.</p>
                        {{!-- <a class="btn btn-creative btn-warning" href="#">Buy Now</a> --}}
                    </div>
                </div>
            </div>
        </div>
        {{!-- <!-- Single Hero Slide -->
        <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('img/bg-img/33.jpg')">
                <div class="h-100 d-flex align-items-center text-center">
                    <div class="container">
                        <h3 class="text-white mb-1">Vanilla JavaScript</h3>
                        <p class="text-white mb-4">The whole code is written with vanilla JS.</p><a
                            class="btn btn-creative btn-warning" href="#">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('img/bg-img/32.jpg')">
                <div class="h-100 d-flex align-items-center text-center">
                    <div class="container">
                        <h3 class="text-white mb-1">PWA Ready</h3>
                        <p class="text-white mb-4">Click the "Add to Home Screen" button &amp; <br> enjoy it like an
                            app.</p><a class="btn btn-creative btn-warning" href="#">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('img/bg-img/33.jpg')">
                <div class="h-100 d-flex align-items-center text-center">
                    <div class="container">
                        <h3 class="text-white mb-1">Lots of Elements &amp; Pages</h3>
                        <p class="text-white mb-4">Create your website in days, not months.</p><a
                            class="btn btn-creative btn-warning" href="#">Buy Now</a>
                    </div>
                </div>
            </div>
        </div> --}}
        <!-- Single Hero Slide -->
        {{!-- <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('img/bg-img/1.jpg')">
                <div class="h-100 d-flex align-items-center text-center">
                    <div class="container">
                        <h3 class="text-white mb-1">Dark &amp; RTL Ready</h3>
                        <p class="text-white mb-4">You can use the Dark or <br> RTL mode of your choice.</p><a
                            class="btn btn-creative btn-warning" href="#">Buy Now</a>
                    </div>
                </div>
            </div>
        </div> --}}
    </div>
</div>

<div class="container mt-3">
    <div class="card card-bg-img bg-img bg-dark mb-3" style="background-image: url('img/bg-img/3.jpg')">
        <div class="card-body direction-rtl p-5">
            <h2 class="text-white">Read Instructions</h2>
            <hr>
            <p class="mb-4 text-white">
                السلام عليكم ورحمة الله وبركاتة, <br><br>
                പ്രിയ്യമുള്ളവരേ......
                ഒരു റമളാൻ കൂടി നമ്മിലേക്ക് വന്നണഞ്ഞിരിക്കുകയാണ് .ലോകത്തിന് മഹാവിസ്മയം തീർത്ത വിശുദ്ധ ഖുർആൻ
                അവതീർണമായ
                മാസം.അതിന്റെ അമാനുഷികത ഇന്നും ലോകത്ത് ചോദ്യം ചെയ്യപ്പെടാതെ നിലനിൽക്കുന്നു ...
                ആ ഖുർആനിനെ പഠിക്കാൻ മത്സര രൂപത്തിൽ ഒരു സുവർണാവസരം ലഭിച്ചാലോ.....❓ <br>

                വരൂ സുഹൃത്തുക്കളെ MSM കോഴിക്കോട് നോർത്ത് സങ്കടിപ്പിക്കുന്ന ഖുർആൻ ക്വിസ്
                ഒരു ദിനം 5 ആയത്തുകളിൽ നിന്നും 5 ചോദ്യങ്ങൾ മാത്രമുള്ള QUIZ മത്സരത്തിലെ വിജയികൾ ആവാം.
                إن شاء الله</p>
            {{#eq user.type "senior"}}
            <a href="/homme" class="btn btn-danger w-100">Enter to Quiz</a>
            {{/eq}}
            {{#eq user.type "junior"}}
            <a href="/home" class="btn btn-danger w-100">Enter to Quiz</a>
            {{/eq}}
        </div>
    </div>
</div>

<div class="pt-3"></div>
<div class="container direction-rtl">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row g-3">
                <div class="col-4">
                    <a href="/profile">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-primary"><i class="bi bi-person-bounding-box text-white"></i>
                            </div>
                            <p class="mb-0">My Profile</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="/donation">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-dark"><i class="bi bi-wallet2 text-white"></i></i></div>
                            <p class="mb-0">Donate Us</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-warning"><i class="bi bi-phone text-dark"></i></div>
                            <p class="mb-0">Contact Us</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-center mt-3">Developed By <a href="https://www.vectorcrop.com">VectorCrop.</a></p>

<div class="pb-3"></div>
</div>


<script>
    document.getElementById('donateButton').addEventListener('click', function () {
        // Replace 'YOUR_GOOGLE_PAY_NUMBER' with the actual Google Pay number
        var googlePayNumber = '9947154691';

        // Replace 'YOUR_AMOUNT' with the default donation amount
        var defaultAmount = '500';

        // Create the Google Pay payment link
        var googlePayLink = 'https://pay.google.com/pay?pn=' + googlePayNumber + '&mc=&tid=&cu=USD&tn=Donation&am=' + defaultAmount;

        // Open a new window or tab with the Google Pay payment link
        window.open(googlePayLink, '_blank');
    });
</script>