{{!-- <div class="container">
    <br><br><br>
    <center>Welcome <strong>{{user.Username}} ({{user.type}}) </strong><br>

        {{#eq user.type "senior"}}
        <a href="/homme" class="btn btn-dark">Enter to Quiz route</a>
        {{/eq}}
        {{#eq user.type "junior"}}
        <a href="/home" class="btn btn-dark">Enter to Quiz route</a>
        {{/eq}}
    </center>
</div> --}}

<div class="toast  custom-toast-1 toast-success home-page-toast" role="alert" aria-live="assertive" aria-atomic="true"
    data-bs-delay="7000" data-bs-autohide="true">
    <div class="toast-body">
        <svg class="bi bi-bookmark-check text-white" width="30" height="30" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z">
            </path>
            <path fill-rule="evenodd"
                d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z">
            </path>
        </svg>
        <div class="toast-text ms-3 me-2">
            <p class="mb-1 text-white">Welcome to Msm Ramadan Quiz 2024!</p><small class="d-block text-dark">Please save
                your
                login details :
                {{#if user}}
                Username : <b>{{user.Fname}}{{user.Lname}}</b><br>
                Phone Number : <b>{{user.Mobile}}</b>
                </ul>
                {{/if}}

            </small>
        </div>
    </div>
    <button class="btn btn-close btn-close-white position-absolute p-1" type="button" data-bs-dismiss="toast"
        aria-label="Close"></button>
</div>



<div class="tiny-slider-one-wrapper">
    <div class="tiny-slider-one">
        <!-- Single Hero Slide -->
        <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('img/bg-img/31.jpg')">
                <div class="h-100 d-flex align-items-center text-center">
                    <div class="container">
                        <h3 class="text-white mb-1">Welcome To Msm Kozhikode North<br> Ramadan Quiz 2024</h3>
                        <p class="text-white mb-4">Ramadan Quiz Compititon March 2024.</p>
                        {{!-- <a class="btn btn-creative btn-warning" href="#">Buy Now</a> --}}
                    </div>
                </div>
            </div>
        </div>
        {{!-- <!-- Single Hero Slide -->
        <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('img/bg-img/33.jpg')">
                <div class="h-100 d-flex align-items-center text-center">
                    <div class="container">
                        <h3 class="text-white mb-1">Vanilla JavaScript</h3>
                        <p class="text-white mb-4">The whole code is written with vanilla JS.</p><a
                            class="btn btn-creative btn-warning" href="#">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('img/bg-img/32.jpg')">
                <div class="h-100 d-flex align-items-center text-center">
                    <div class="container">
                        <h3 class="text-white mb-1">PWA Ready</h3>
                        <p class="text-white mb-4">Click the "Add to Home Screen" button &amp; <br> enjoy it like an
                            app.</p><a class="btn btn-creative btn-warning" href="#">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('img/bg-img/33.jpg')">
                <div class="h-100 d-flex align-items-center text-center">
                    <div class="container">
                        <h3 class="text-white mb-1">Lots of Elements &amp; Pages</h3>
                        <p class="text-white mb-4">Create your website in days, not months.</p><a
                            class="btn btn-creative btn-warning" href="#">Buy Now</a>
                    </div>
                </div>
            </div>
        </div> --}}
        <!-- Single Hero Slide -->
        {{!-- <div>
            <div class="single-hero-slide bg-overlay" style="background-image: url('img/bg-img/1.jpg')">
                <div class="h-100 d-flex align-items-center text-center">
                    <div class="container">
                        <h3 class="text-white mb-1">Dark &amp; RTL Ready</h3>
                        <p class="text-white mb-4">You can use the Dark or <br> RTL mode of your choice.</p><a
                            class="btn btn-creative btn-warning" href="#">Buy Now</a>
                    </div>
                </div>
            </div>
        </div> --}}
    </div>
</div>

<div class="container mt-3">
    <div class="card card-bg-img bg-img bg-dark mb-3" style="background-image: url('img/bg-img/3.jpg')">
        <div class="card-body direction-rtl p-5">
            <h2 class="text-white">Read Instructions</h2>
            <p class="mb-4 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.</p>
            {{#eq user.type "senior"}}
            <a href="/homme" class="btn btn-danger w-100">Enter to Quiz</a>
            {{/eq}}
            {{#eq user.type "junior"}}
            <a href="/home" class="btn btn-danger w-100">Enter to Quiz</a>
            {{/eq}}
        </div>
    </div>
</div>

<div class="pt-3"></div>
<div class="container direction-rtl">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row g-3">
                <div class="col-4">
                    <a href="">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-primary"><i class="bi bi-person-bounding-box text-white"></i>
                            </div>
                            <p class="mb-0">My Profile</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-dark"><i class="bi bi-wallet2 text-white"></i></i></div>
                            <p class="mb-0">Donate Us</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="">
                        <div class="feature-card mx-auto text-center">
                            <div class="card mx-auto bg-warning"><i class="bi bi-phone text-dark"></i></div>
                            <p class="mb-0">Contact Us</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pb-3"></div>
</div>